<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <!--<link rel="stylesheet" href="/css/1_HowWasYourDay.css">-->
    <link rel="stylesheet" href="/css/card.css">
    <link rel="stylesheet" href="/css/animations.css">

    <script src="/scripts/functionality/animator.js"   defer></script>
    <script src="/scripts/functionality/controller.js" defer></script>
    <script src="/scripts/pages/1_HowWasYourDay.js"    defer></script>
    <title>Document</title>
</head>
<body>
<div id="card">
    <h1> Page 1 </h1>
</div>

<div> currentPage: </div>
<div id="currentPage">  {{ currentPage }}  </div>
<div> previousPage: </div>
<div id="previousPage"> {{ previousPage }} </div>
</body>
</html>